#home {
    font-size: 20px;
    margin: 0;
    color: white;
    background-color: rgb(17 24 39);
    overflow: auto;

    .home-container {
        font-size: 44px;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        margin: 0 auto;
        max-width: 1000px;
        height: auto;
        box-sizing: border-box;
        text-align: left;

        .home-section {
            padding: 0;
            width: 50%;
            margin: 0;
            height: 100px;

            .animate-text {
                height: 100px;
            }
        }
    }

    .welcome {
        margin: 0;
    }
}