#home {
    font-size: 20px;
    margin: 0;
    color: white;
    background-color: rgb(17 24 39);

    .home-container {
        font-size: 44px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        margin: 0 auto;
        text-align: left;
        flex-wrap: wrap;
        height: calc(100vh - 80px);

        .home-row {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0;
            width: 100%;
            margin: 0;
            

            .home-col {
                margin: 30px;
                align-items: center;
                justify-content: space-between;
            }

            .animate-text {
                height: 80px;
            }
        }
    }

    .welcome {
        margin: 0;
    }
}

.programmer-icon {
    width: 200px;
    height: 220px;
    margin: 0 20px;
}